@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 13px;
    width: 700px;
    height: 515px;
}


/* Aside/Main Image */

aside {
   height: 100%;
}

#left img {
    height: 100%;
    border-radius: 13px 0 0 13px;
}


/* Article/Info */

article {
    padding: 0 35px;
 }

h2 {
    font-weight: 500;
    margin-top: 0;
    letter-spacing: 6px;
    font-size: 12px;
}

h1 {
    color: hsl(212, 21%, 14%);   
    font-size: 35px;
    line-height: 37px;
    font-weight: 650;
}

p {
    line-height: 25px;
    font-size: 14px;
}

#new-price, #old-price, button, button img {
    display: inline-block;
    vertical-align: middle; 
}

#new-price {
    color: hsl(158, 36%, 37%);
    font-size: 35px;
    font-weight: 600;
}

#old-price {
    font-size: 14px;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 7px;
    width: 285px;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
}

button:hover {
    background-color: hsl(158, 36%, 20%);
    cursor: pointer;
}

h2, h1, p, #price {
    margin-bottom: 30px;
}

h1, #new-price {
    font-family: "Fraunces", serif;
}

p, h2, #old-price, button {
    font-family: "Montserrat", sans-serif;
}

h2, p, #old-price {
    color: hsl(228, 12%, 48%);
}

#new-price, button img {
    margin-right: 12px;
}


/* Mobile Version */

@media screen and (max-width: 425px) {

    main {
        width: 330px;
        height: 630px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #left img {
        width: 330px;
        height: auto;
        border-radius: 13px 13px 0 0;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 15px 0 15px;
        width: 300px;
    }

    h1, p, #price, button {
        margin-top: 0;
    }

    h2, h1, p, #price, button {
        margin-bottom: 20px;
    }

    h2, #price {
        align-self: flex-start;
    }

}
