* {
    background-color: hsl(30, 38%, 92%);
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 13px;
    width: 750px;
    height: 600px;
}

aside {
    height: 100%;
}

#left img {
    height: 100%;
    border-radius: 13px 0 0 13px;
}