@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 13px;
    width: 750px;
    height: 580px;
}


/* Aside/Main Image */

aside {
    height: 100%;
}

#left img {
    height: 100%;
    border-radius: 13px 0 0 13px;
}


/* Article/Info */

article {
    padding: 40px;
    height: 100%;
 }

h2 {
    font-weight: 500;
    margin-top: 40px;
    letter-spacing: 6px;
    font-size: 14px;
}

h1 {
    color: hsl(212, 21%, 14%);   
    font-size: 35px;
}

p {
    line-height: 27px;
    font-size: 14px;
}

#new-price, #old-price, button, button img {
    display: inline-block;
    vertical-align: middle; 
}

#new-price {
    color: hsl(158, 36%, 37%);
    font-size: 35px;
    font-weight: 600;
}

#old-price {
    font-size: 14px;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 7px;
    width: 285px;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 40px;
}

button:hover {
    background-color: hsl(158, 36%, 20%);
    cursor: pointer;
}

h2, h1, p, #price {
    margin-bottom: 30px;
}

h1, #new-price {
    font-family: "Fraunces", serif;
}

p, h2, #old-price, button {
    font-family: "Montserrat", sans-serif;
}

h2, p, #old-price {
    color: hsl(228, 12%, 48%);
}

#new-price, button img {
    margin-right: 12px;
}
